
body
{
	background-color:black;
	color:white;

}

#myCanvas
{
	width:100%;
	height:auto;
}

#game_injection
{
	width:100%;
}

.BootStrapFitIm
{
	width:100%;
	height:auto;

}

.player_statSel
{
	background-color:rgb(101, 101, 155);

}
